<h1>Services</h1>
<div class="ui raised segment">
  <ul>
    <li><a routerLink="log">A Simple Log Service</a></li>
    <li><a routerLink="data">A Simple Data Service</a></li>
    <li><a routerLink="datalog">Data Service Using the Log Service (DatalogService)</a></li>
    <li><a routerLink="communication">Component Communicate Via CommunicationService</a></li>
    <li><a routerLink="/services">This Menu Only</a></li>
  </ul>
</div>
<div class="ui raised segment">
  <router-outlet></router-outlet>
</div>
