<h1><a
  href="https://www.udemy.com/the-complete-guide-to-angular-2/"
  target="_blank"
>The Complete Guide to Angular 2</a></h1>
<strong>Let's start</strong>
<ul>
  <li><a routerLink="/first">First App</a></li>
  <li><a routerLink="/databinding">Databinding</a></li>
  <li><a routerLink="/lifecycle">Component Lifecycle</a></li>
  <li><a routerLink="/directives">Directives</a></li>
  <li><a routerLink="/services">Services</a></li>
  <li><a routerLink="/routing">Routing (with parameters, children and guards)</a></li>
</ul>

<strong>Und hier geht's dann weiter</strong>
<ul>
  <li><a routerLink="/fileread">Read A Local File</a></li>
</ul>

<router-outlet>